<pre class='xdebug-var-dump' dir='ltr'>
<small>/home/homes/live73/sites/developpement/projet_final/controllers/OrderController.php:51:</small>
<b>array</b> <i>(size=2)</i>
  0 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=2)</i>
      0 <font color='#888a85'>=&gt;</font> 
        <b>object</b>(<i>stdClass</i>)[<i>15</i>]
          <i>public</i> '0' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>2</font>
          <i>public</i> '1' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Bagel Thon'</font> <i>(length=10)</i>
          <i>public</i> '2' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Notre bagel est constitué d&#39;un pain moelleux avec des grains de sésame et du thon albacore, accompagné de feuilles de salade fraîche du jour  et d&#39;une sauce renversante :-)'</font> <i>(length=176)</i>
          <i>public</i> '3' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'bagel_thon.jpg'</font> <i>(length=14)</i>
          <i>public</i> '4' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>9</font>
          <i>public</i> 'Id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>2</font>
          <i>public</i> 'Name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Bagel Thon'</font> <i>(length=10)</i>
          <i>public</i> 'Description' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Notre bagel est constitué d&#39;un pain moelleux avec des grains de sésame et du thon albacore, accompagné de feuilles de salade fraîche du jour  et d&#39;une sauce renversante :-)'</font> <i>(length=176)</i>
          <i>public</i> 'Photo' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'bagel_thon.jpg'</font> <i>(length=14)</i>
          <i>public</i> 'SalePrice' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>9</font>
      1 <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'2'</font> <i>(length=1)</i>
  1 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=2)</i>
      0 <font color='#888a85'>=&gt;</font> 
        <b>object</b>(<i>stdClass</i>)[<i>16</i>]
          <i>public</i> '0' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
          <i>public</i> '1' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Bagel Thon'</font> <i>(length=10)</i>
          <i>public</i> '2' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Notre bagel est constitué d&#39;un pain moelleux avec des grains de sésame et du thon albacore, accompagné de feuilles de salade fraîche du jour  et d&#39;une sauce renversante :-)'</font> <i>(length=176)</i>
          <i>public</i> '3' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'chocolate_donut.jpg'</font> <i>(length=19)</i>
          <i>public</i> '4' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>7</font>
          <i>public</i> 'Id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
          <i>public</i> 'Name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Bagel Thon'</font> <i>(length=10)</i>
          <i>public</i> 'Description' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Notre bagel est constitué d&#39;un pain moelleux avec des grains de sésame et du thon albacore, accompagné de feuilles de salade fraîche du jour  et d&#39;une sauce renversante :-)'</font> <i>(length=176)</i>
          <i>public</i> 'Photo' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'chocolate_donut.jpg'</font> <i>(length=19)</i>
          <i>public</i> 'SalePrice' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>7</font>
      1 <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'1'</font> <i>(length=1)</i>
</pre>